       
		a {
			text-decoration:none;
			color:blue;
			font-size: 30px;
			padding: 50px;
		}  
		
		div {
			width:60%;
			margin:auto;
			background-color: #057909;
			box-shadow: 0 0 30px 10px rgba(0,0,0,0.7);

		}

	    
		img{
			max-width:50%;
			height:auto; 
			display:block;
			padding: 30px;
		}
		p3 {
			color:lime;
			font-size: 25px;
			margin:25px;
			/*padding: 100px;*/
					}
		p4 {
			color:greenyellow;
			font-size: 25px;
			margin:25px;
		}
		p5 {
			color:yellow;
			font-size: 25px;
			margin:25px;
		}
		p6 {
			color:orange;
			font-size: 25px;
			margin:25px;
		}
       h1 {
			font-size: 40px;
			color:lime;
			margin: 10px;
		}
		h2 {
			font-size: 40px;
			color:yellowgreen;
			margin: 10px;

		}
		h3 {
			font-size: 40px;
			color:yellowgreen;
		}
		h4 {
			font-size: 40px;
			color:yellow;
			margin: 10px;
		}
	    h5 {
			font-size: 40px;
			color:orange;
			margin: 10px;
		}
		body {
			background-color: #16e338
		}
		